<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }} Alive?</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<!-- url_for('static', filename='') -->

<body>
    <div class="card">
        <h1 style="font-size: 2em;"><ruby>似<rt>sǐ</rt></ruby>了吗?</h1>

        <div style="height: 20px;"></div>

        <span>{{ user }}'s Status:<br><span id="status" style="font-size: 1.2em;">{{ status_name }}</span></span>
        <br>
        
        <span id="status">{{ device1_status }}<span>{{ device1_app }}</span></span>
        <br>
        <span id="status">{{ device2_status }}<span>{{ device2_app }}</span></span>

        <br>
        <span id="additional-info" style="font-size: 1em;">{{ status_desc }}</span>

        <div style="height: 10px;"></div>
        {{ more_text | safe }}
        <!-- <a>ps: 如果长时间无响应，可能是你的网络问题，或服务器无法响应等</a> -->
        <div style="height: 40px;"></div>
        <span>你可以通过这个页面看到她的在线状态</span>
    </div>
    <!-- <script src="assets/query.js"></script> -->
    <script>
        const statusElement = document.getElementById('status');
        statusElement.classList.add('{{ status_color }}');
    </script>
</body>

</html>